.selector-table {
    font-size: 10px;
}

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.selector-table td {
}

.selector-table td.group {
    color: #333;
    border-bottom: #dee0e4 1px solid;
    border-right: #dee0e4 1px solid;
    background: #FFFBF5;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
    padding-right: 3px;
}

.selector-table td.division {
    color: #666;
    cursor: pointer;
    background: #fff;
}

.selector-table td.division:hover {
    /*border: 1px solid #ECFFFC;*/
    background: #22bb60;
    color: #fff;
}

table {
    border-spacing: 0;
}

tr td[rowspan="1"] {
    padding-bottom: 0px;
}

tr td.division:nth-of-type(2), tr td.division:nth-of-type(3), tr td.division:nth-of-type(4),tr td.division:nth-of-type(5) {
    padding-left: 10px;
}
.clear-button{
    margin-right: 20px;
}

.selector-table tr td.group + .division {
    padding-left: 15px;
}

.selector-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.7;
    z-index: 1000;
    top: 0px;
}

.selector-content {
    position: absolute;
    height: auto;
    width: 1250px;
    left: 50%;
    top: 65%;
    margin-left: -650px;
    z-index: 1024;
    background: #fff;
    border: #22bb60 1px solid;
}

.selected-div {
    line-height: 28px;
    color: #22bb60;
    font-size: 12px;
    padding-left: 10px !important;
    border-bottom: 1px dashed #585858 !important;
}

.selected-div label {
    margin-bottom: 0;
    margin-right: 8px;
}

.hide-button , .clear-button {
    float: right;
    padding: 4px 9px !important;
    font-size: 13px;
    background: #45D89B;
    color: #fff;
    cursor: pointer;
}

.subtype-table {
    border-collapse: separate !important;
    position: fixed;
    background: #ECFFFC;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #22bb60;
    overflow: auto;
}

.subtype-table tr td {
    cursor: pointer;
    padding-right: 15px;
}

.subtype-table td:hover {
    background: #22bb60;
    color: #fff;
}
    